header{
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
}
h1{
    width: 30%;
}

ul{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    width: 70%;
}