<section class="ae-container-fluid ae-container-fluid--inner rk-blog">
    <div class="rk-blog__items">
        <div class="rk-blog__item">
            <div class="post-img post-1 rk-landscape-alt rk-toportrait">
                <div class="item-meta">
                    <p>
                        <a routerLink="/postBlog" class="arrow-button">Leer más
                            <span class="arrow-cont">
                                <svg>
                                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="blog-info">
                <h2 class="blog-info__title">
                    <a routerLink="/postBlog">Producto 1</a>
                </h2>
                <h5 class="blog-info__author">By <a routerLink="/postBlog" class="ae-u-bolder">Pixeden</a></h5>
                <p class="blog-info__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor <span>in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur</span>
                </p>
            </div>
            <div class="blog-meta">
                <a routerLink="/postBlog" class="ae-u-bolder blog-meta__comments">3 Comments</a>
                <span class="ae-kappa ae-u-bold blog-meta__date">August, 12 2015</span>
                <a routerLink="/postBlog" class="arrow-button blog-meta__read-more">Leer mas
                    <span class="arrow-cont">
                        <svg>
                            <use xlink:href="assets/img/symbols.svg#arrow"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>