<form class="form-register" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
    <h4 class="titulo text-center">Crear Producto</h4>
    <input class="controls" type="number" formControlName="codigo" placeholder="Ingrese el codigo">
    <div class="text-danger"
        *ngIf="productoForm.get('codigo')?.hasError('required') && productoForm.get('codigo')?.touched">
        <span>El codigo del producto es <strong>obligatorio</strong></span>
    </div>
    <input class="controls" type="text" formControlName="nombre" placeholder="Ingrese nombre del producto">
    <div class="text-danger" *ngIf="productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched">
        <span>El nombre del producto es <strong>obligatorio</strong></span>
    </div>
    <input class="controls" type="text" formControlName="imagen" placeholder="Ingrese nombre de la imagen">
    <div class="text-danger" *ngIf="productoForm.get('imagen')?.hasError('required') && productoForm.get('imagen')?.touched">
        <span>El nombre de la imagen es <strong>obligatorio</strong></span>
    </div>
    <input class="controls" type="text" formControlName="categoria" placeholder="Ingrese la categoria">
    <div class="text-danger"
        *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
        <span>La categoria es <strong>obligatoria</strong></span>
    </div>
    <input class="controls" type="number" formControlName="numeroPesaje" placeholder="Cuantos tipos de pesaje">
    <div class="text-danger"
        *ngIf="productoForm.get('numeroPesaje')?.hasError('required') && productoForm.get('numeroPesaje')?.touched">
        <span>la cantidad de pesos es <strong>obligatorio</strong></span>
    </div>
    <div>
        <input class="controls" type="text" formControlName="pesoProducto" placeholder="Ingrese Pesaje">
        <div class="text-danger"
            *ngIf="productoForm.get('pesoProducto')?.hasError('required') && productoForm.get('pesoProducto')?.touched">
            <span>El peso del producto es <strong>obligatorio</strong></span>
        </div>
        <input class="controls" type="text" formControlName="stockProducto" placeholder="Ingrese Stock">
        <div class="text-danger"
            *ngIf="productoForm.get('stockProducto')?.hasError('required') && productoForm.get('stockProducto')?.touched">
            <span>El stock del producto es <strong>obligatorio</strong></span>
        </div>
        <input class="controls" type="text" formControlName="precioProducto" placeholder="Ingrese Precio">
        <div class="text-danger"
            *ngIf="productoForm.get('precioProducto')?.hasError('required') && productoForm.get('precioProducto')?.touched">
            <span>El precio del producto es <strong>obligatorio</strong></span>
        </div>
        <label>Sabores</label><br>
        <input class="ml-3" type="checkbox" formControlName="codSabor" value="cod1"> Vainilla
    </div>
    <textarea class="controls" cols="29" rows="5" formControlName="descripcion" placeholder="Ingrese una descripcion"></textarea>
    <div class="text-danger"
        *ngIf="productoForm.get('descripcion')?.hasError('required') && productoForm.get('descripcion')?.touched">
        <span>La descripcion del producto es <strong>obligatorio</strong></span>
    </div>
    <textarea class="controls" cols="29" rows="5" formControlName="instrucciones" placeholder="Ingrese las instrucciones"></textarea>
    <div class="text-danger"
        *ngIf="productoForm.get('instrucciones')?.hasError('required') && productoForm.get('instrucciones')?.touched">
        <span>Las instrucciones del producto es <strong>obligatorio</strong></span>
    </div>
    <button routerLink="/admin/products" class="btn btn-secondary">VOLVER</button>
    <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success ml-3">ACEPTAR</button>
</form>

